<div *ngIf="auth">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex; justify-content: space-between;">
        <a class="navbar-brand" href="#">{{email}}</a>
              <button class="btn btn-outline-danger" (click)="logOut()">Log out</button>
           
      </nav>
  <div class="container_grid" >
  <div *ngFor="let location of Locations; index as i" style="margin: 10px">
  <app-cardeditable [l]="location" index={{i}} ></app-cardeditable>
  </div>
</div>
<div>
<form style="display: flex;flex-direction: column;
justify-content: center;
align-items: center;">
    <div class="row">
        <input type="text" class="form-control" name="name" id="name" placeholder="name">

    </div><br>
    <div class="row">
        <input type="text" class="form-control" maxlength="255" name="description" id="description" placeholder="description">

    </div><br>
    <div class="row">
        <input type="number" class="form-control" name="long" id="long" placeholder="longitude">

    </div><br>
    <div class="row">
        <input type="number" class="form-control" name="lat" id="lat" placeholder="latitude">

    </div><br>

    <div class="row">
        <select class="form-control" >
        <option selected hidden>Class</option>
        <option>znamenito</option>
        <option>veoma znamenito</option>
        <option>nezaobilazno</option>

    </select>
    </div><br>
    <div class="row" >
          <select class="form-control" name="country">
        <option selected hidden>Country</option>
        
    </select>
    </div>
    <br>
  <div class="row">
      <select class="form-control" name="city">
        <option selected hidden>City</option>

    </select>
  </div><br>
    <button class="btn btn-success" >Save</button>
</form>

</div>
</div>

<div *ngIf="!auth">

    
</div>
