<div class="card" style="width: 301px">
  <app-carousel [data]="l.url" index="{{ index }}"></app-carousel>

  <div class="card-body" style="font-size: small;">
    <h5 class="card-title">{{ l.name }}</h5>
    <p class="card-text" >
      {{l.description}}
     </p>
     <p>Location:{{l.country}},{{l.city}}</p>
     <p>Category: {{l.istatus}}</p>
     <p>Long:{{l.long}} Lat:{{l.lat}}</p>
    <iframe name="dummyframe" id="dummyframe" style="display: none;" (change)="reload()"></iframe>
    <form
      #form
      enctype="multipart/form-data"
      method="post"
      action="http://127.0.0.1:8080/image/protected"
      target="dummyframe"
      
    >
      <input type="number"  [value]="l.id" hidden name="locationId" /><input
        type="file"
        name="file"
        id="file"
        #file
        (change)="form.submit()"
      />
    </form>

    <p>Long:{{ l.long }} Lat:{{ l.lat }}</p>

    <div class="row">
      <div class="col">
        <button class="btn btn-danger" (click)="changeStatus()">
          {{ this.msg }}
        </button>
      </div>
      <div class="col">
        <button class="btn btn-danger" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>
</div>
