
  <div class="card" style="width: 301px">
    <app-carousel [data]="l.url" index="{{ index }}"></app-carousel>

    <div class="card-body">
        <h5 class="card-title">{{l.name}}</h5>
      
         <p>{{l.description}}</p>
         <p>{{l.istatus}}</p>
        
        <p>Long:{{l.long}} Lat:{{l.lat}}</p>
        <div class="row">
            <div class="col">
<button class="btn btn-danger" (click)="changeStatus();">{{this.msg}}</button>

            </div>
            <div class="col">
<button class="btn btn-danger" (click)="delete()">Delete</button>

            </div>
        </div>





   
    </div>
  </div>